@media (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(0, 0 , 0, 0.6);
      padding: 10px;
    }
    
    nav ul {
      display: flex;
      list-style: none;
      font-size: 20px;
    }
    
    nav li {
      margin-right: 20px;
    }
    
    nav a {
      color: white;
      text-decoration: none;
    }
    
    nav a:hover {
      color: rgb(4, 221, 236);
    }
    
    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    
    .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    
    .search-bar {
      display: flex;
      align-items: center;
    }
    
    .search-bar input[type="text"] {
      margin-right: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 800px;
    }
    
    .search-bar button[type="submit"] {
      padding: 5px 10px;
      background-color: rgb(0, 0 , 0, 0.6) ;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
  
    .dropdown-menu.categorias-lista {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px;
      background-color: rgb(0, 0 , 0, 0.6);
      border: 1px solid #ccc;
      border-top: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .dropdown-menu.categorias-lista.show {
      display: block;
    }
  
    .dropdown-menu.categorias-lista ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  
    .dropdown-menu.categorias-lista li {
      margin-bottom: 10px;
    }
  
    .nav .cart-icon {
      position: relative;
    }
    
    .nav .cart-icon i {
      color: white;
      font-size: 20px;
    }
    
    .nav .cart-icon::before {
      content: '0'; /* Aquí puedes mostrar la cantidad de elementos en el carrito */
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: #e0ac1c;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  
    body {
      margin: 0;
      padding: 0;
    }
  
  
    
    
    footer {
      background-color: rgb(0, 0 , 0, 0.6);
      padding: 20px;
      display: flex;
      position:fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 150px;
      align-items: center;
    }
    
    .footer-left {
      margin-right: auto;
      display: flex;
      position: relative;
      bottom: 10px;
      font-size: 30px;
      color: white;
    }
  
    .footer-center {
      text-align: center;
      flex-grow: 1;
      color: white;
      position: relative;
      left: 50px;
      padding: 2px;
      bottom: 20px;
    }
    
    .footer-right {
      display: flex;
      align-items: center;
      margin-left: auto;
      position: relative;
      bottom: 10px;
      padding: 20px;
    }
    
    .footer-right a {
      margin: 0 5px;
      text-decoration: none;
      
    }
    
    .footer-right img {
      width: 60px;
      height: 60px;
      vertical-align: middle;
      border-radius: 50%;
      padding: 3px;
    }
    video {
      position: fixed;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
    }
  
    .logos{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .carritoDeCompras {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    }
    
    .carrito {
      text-align: center;
      border: 1px solid #0d0ad4;
      padding: 50px;
      position: relative;
      bottom: 100px;
      border-radius: 50%;
      background-color: rgb(0, 0 , 0, 0.6);
    }
    
    .carrito h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: white;
    }
    
    .carrito-lista {
      list-style: none;
      padding: 0;
    }
    
    .carrito-total {
      font-weight: bold;
    }
    
    .carrito button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .carrito button:hover {
      background-color: aqua;
    }

    p{
      color: white;
    }
  }

  @media (max-width: 768px) {

    nav a {
      color: white;
      text-decoration: none;
    }

    body{
     
      
    }
    
    .footer-left {
      text-align: center;
      color: #e0ac1c;
      margin-bottom: 10px; /* Espaciado inferior para dispositivos móviles */
    }
    
    /* Estilo para el contenido en el centro del footer */
    .footer-center {
      text-align: center;
      margin-bottom: 10px; /* Espaciado inferior para dispositivos móviles */
    }
    
    /* Estilo para el contenido a la derecha del footer */
    .footer-right {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; /* Espaciado inferior para dispositivos móviles */
    }
    
    /* Estilo para los enlaces en la parte derecha del footer */
    .footer-right a {
      margin: 0 5px;
      text-decoration: none;
    }
    
    /* Estilo para las imágenes en la parte derecha del footer */
    .footer-right img {
      width: 40px; /* Tamaño de las imágenes para dispositivos móviles */
      height: 40px;
      vertical-align: middle;
      border-radius: 50%;
      padding: 3px;
    }
    
    /* Estilos para dispositivos móviles */
    @media (max-width: 768px) {
      /* Modificamos el tamaño del footer para dispositivos móviles */
      footer {
        height: auto;
        padding: 10px;
        position: relative;
        bottom: 400px;
      }
    
      /* Ajustamos el tamaño de las imágenes para dispositivos móviles */
      .footer-right img {
        width: 30px;
        height: 30px;
      }
    }
    video {
      position: fixed;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
      overflow: hidden;
    }

    
    
    
  
    .logos{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .carritoDeCompras {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    }
    
    .carrito {
      text-align: center;
      border: 1px solid #0d0ad4;
      padding: 50px;
      position: relative;
      bottom: 200px;
      border-radius: 50%;
      background-color: rgb(0, 0 , 0, 0.6);
    }
    
    .carrito h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: white;
    }
    
    .carrito-lista {
      list-style: none;
      padding: 0;
    }
    
    .carrito-total {
      font-weight: bold;
    }
    
    .carrito button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .carrito button:hover {
      background-color: aqua;
    }

    p{
      color: white;
    }
  }